
$font-family-popins: Poppins;
/*---------------BackgroundColors------------*/

$main-background-color:#f5f5fb;
$Pirimary-background-colr:#ffff;
$secondery-background-color:#f9f9fc;
$target-box-color:#ff3a3a;
$actual-box-color:#19d22b;


/*---------------FontColors------------*/

$primary-color:#132639;
$fame-orange:#f78e1e;
$light-gray:#cbcbcb;
$container-border-color:#b7b7b7;


/*---------------FontSizes------------*/
$Primary-size:14px;
$secondery-size:20px;


/*---------------BorderColors------------*/

$primary-border-color:#d6d6ee;
$target-border-color:#ff7272;
$actual-border-color:#10C920;